
<!-- Creating navigation menu for FrontEnd Application-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav">

        <li class="nav-item">

            <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>

        </li>
        <li class="nav-item">
          
          <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>

      </li>

    </ul>

</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container " >
 

  <!-- Reroute the home / index directly to /employees-->
  <router-outlet></router-outlet>
  <!--<app-employee-list></app-employee-list> -->
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <a class="navbar-brand" href="#">Fixed top</a>

    <!--       Footer Information Site  -->
    <footer class="footer navbar fixed-bottom">

        <div class="container">
            <span>All Rights Reserved 2020 @CashRulez-Entertainment</span>

        </div>


    </footer>
  </nav>

